body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
 height: 100vh;
 width: 100vw;
 display: flex;
 align-items: center;
}

table {
  width:80%;
  margin: 0 auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  padding: 10px;
}

th{
  padding: 10px !important;
}

th {
  text-align: left;
  user-select: none;
  cursor: pointer;
}

th.desc::before {
  content: "\f550";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: text-bottom;
  -webkit-font-smoothing: antialiased;
}

th.asc::before {
  content: "\f549";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: text-bottom;
  -webkit-font-smoothing: antialiased;
}


.cell-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.product {
  color: blue;
  background-color: red;
  margin: 0;
  font-weight: 600;
}

.company {
  color: blueviolet;
  background-color: greenyellow;
  margin: 0;
  font-weight: 600;
}

.bold {
  color: darkslateblue;
  font-weight: 900;
  margin: 0;
}